:root {
    --base: #ffc600;
}

.hl {
    color: var(--base);
    font-size: 5rem;
}

.group-header {
    font-size: 3rem;
    color: var(--base);
}

.group-names {
    font-size: 1.5rem;
}

body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;    
}

.controls {
    font-size: 3rem;
}

.pergroup, .numgroups {
    display: flex;
    width: 100%;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 0.5rem 1.2rem;
    border-radius: 0.2rem;
    width: 20%;
    border-bottom: 0.3rem solid transparent;
}

textarea {
    min-height: 150px;
    max-height: 150px;
    min-width: 200px;
    max-width: 200px;
    border: solid 1px rgb(192, 192, 192);
    color: black;
    border-radius: 0.7rem;
    padding: 1rem;
    font-size: 1.5rem;
}

button {
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 0.2rem;
    border: 1px solid transparent;
    text-decoration: none;
    user-select: none;
    background: #4DA5E3;
}

button:active {
    box-shadow:  0 0 10px #000000;
}